* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, #f7f7f7 24%, #e87575 92%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
    background: rgba(250, 250, 250, .7);
    color: #5c233a;
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 10px;
    
}

h4 {
    color: #5c233a;
    font-display: center;
}

p {
    color: #5c233a;
}

footer {
    padding: 2px;
}



.music-container {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px 10px rgba(252, 169, 169, 0.6);
    display:flex;
    align-items: center;
    padding: 60px 60px;
    position: relative;
    margin-left: 5px;
}


.img-container {
    width: 120px;
    position: relative;
}


.img-container img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    display: center;
    padding: 2px;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}


.music-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}

.music-info {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    align-items: center;
    position: center;
    width: calc(100% - 40px);
    padding: 5px;
    opacity: 0;
    transform: translateY(10%);
    transition: transform 0.6s ease-in, opacity 0.3s ease-in;
    z-index: 0;
}

.music-container.play .music-info {
    position:relative;
    opacity: 1;
    transform: translateX(-12%);
}

.progress-container {
    position:static;
    background: #fff;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.progress {
    background: #fe8daa;
    height: 100%;
    width: 0%;
    border-radius: 15px;
    transition: width 0.1s linear;
}

.navigation {
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}



.song-info {
    font-size: 12px;
    font-display: block;
    
}

.action-btn {
  background: #fff;
  border: none;
  color: #b87fb8;
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.action-btn-big {
  font-size: 30px;
  color: #b87fb8
}


